#services{ 
    max-width: 100vw;
    background-color: var(--p10);
}

.services{
    background-color: var(--p10);
    max-width: 95vw;
    padding-left: 1vh;
    padding-right: 1vh;
}
  
.services .heading{
    color: var(--p);
    font-size: 36px;
    margin-bottom: 30px;

}

.services h2 {
    color: var(--p);
    font-size: 36px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}


  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    /* border: 1vh solid var(--b); */
    margin: 1vh;
    cursor: url('../img/cursor.svg'),auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}


.card {
    
    width: 45vw;
    height: 500px;
  background-color: var(--b);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}


.card:hover {
  transform: scale(1.02);
  box-shadow: grey 5px 5px 10px;
}

.image-container {
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 16px;
}

.content>h2 {
  margin-top: 0;
  font-weight: 200;
}

p {
  margin-bottom: 0;
  color: grey;
  font-size:medium;
}


#box1 {
    /* background-image: url("../img/roofReplace.jpg"); */
    
}
#box2 {
    /* background-image: url("../img/repair.jpg"); */
}
#box3 {
    /* background-image: url("../img/inspection.jpg"); */
}
#box4 {
    /* background-image: url("../img/ExteriorReplacement.jpg"); */
}


.box>h2:hover,.box>h2:focus{
    box-shadow: -1px 4px 20px -6px  rgba(0, 0, 0, 0.993);
    transform: scale(1.03);
    
}

.container{
    display: flex;
    
} 
.alignCol{
    flex-direction: column;
 
}

@media only screen and (max-width:660px){
    .container{
        flex-direction: column;
     
    }

    .box>h2{
        font-size: 1em;
    }

    .card {
    
        width: 90vw;
        height: 500px;
    }
    
}

@media only screen and (min-width:1800px){


    .card {
        width: 22vw;
    }
}

.box>h2{
    border: 5px solid var(--b);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.servicesChild{
    min-height: 96vh;
    padding: 2vh;
}

.servicesChild button{
    margin: 2vw 2vw;
}

.para{
    max-width: 900px ;
}

.button2{
    background-color: var(--b);
}

