/* variables */
:root{
    --b0:#00000099;
    --b80:#ffffffcc;
    --b60:#ffffff99;
    --b:#ffffff;
    --a20:#333333;
    --a95:hsl(0, 0%, 95%);
    --a:#000000;
    --a60:#d158f999;
    --c:#009AFE;
    --p:#fe7b00;
    --p80:#ffbe81;
    --p50:#fff2e5;
    --p10:#fff8f0;
    --s:#00fe08;
}

*{
    text-decoration: none;
    text-align: center;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body{
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    background-size: cover;
    height: 100vh;
    /* width: 98vw; */
    background-repeat: no-repeat;
    background-position:top;
    background-color: var(--a);
    background-attachment: fixed;
}

#background{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../src/assets/img/roofReplace.jpg);
background-size: cover;
height: 100vh;
/* width: 98vw; */
background-repeat: no-repeat;
background-position:top;
background-color: var(--a);
background-attachment: fixed;
z-index: -1;
}

@media only screen and (max-width:680px){
    body{
        background-image:url("./assets/img/backgroundMobile.png");
    }

    h2 {
      color: var(--a);
      font-size: 25px;
      margin-bottom: 20px;
    }
}


.activeButton {
    background-color: #009AFE;
    color: var(--b); /* Set the text color to white */
    padding: 10px 20px; /* Adjust the padding according to your design */
    border: 1px solid #009AFE; /* Remove the border */
    border-radius: 3px; /* Add rounded corners */
    cursor: pointer; /* Change the cursor to a hand icon on hover */
    font-size: 1.5rem;
    font-weight: 700;
    width: 180px;
  }
.inActiveButton {
    background-color: white;
    color:#009AFE; /* Set the text color to white */
    padding: 10px 20px; /* Adjust the padding according to your design */
    border: 1px solid #009AFE; /* Remove the border */
    border-radius: 3px; /* Add rounded corners */
    cursor: pointer; /* Change the cursor to a hand icon on hover */
    font-size: 1.5rem;
    font-weight: 700;
    width: 180px;
  }
  
  .activeButton:hover  .inActiveButton:hover {
    background-color: #0082D7; /* Change the background color on hover */
  }

  .section{
    background-color: #ffffff;
    min-height: 90vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: auto;
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }

  a{
    color: #009AFE;
    text-decoration:wavy;
  }

  .message-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2196f3;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1001;
  }
  
  .message-button.selected {
    background-color: #f44336;
  }
  
  .message-button:hover {
    transform: scale(1.1);
  }
  

  .fade-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  